<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.kiito.dao.CustomerMapper">
	<select id="getCustomer" parameterType = "String" resultType="customer">
		select *
		from customer
		where email = #{email} and customer_type = 0
	</select>
	
	<select id="getGoogleCustomer" parameterType = "String" resultType="customer">
		select *
		from customer
		where email = #{email} and customer_type = 1
	</select>
	
	<select id="getFacebookCustomer" parameterType = "String" resultType="customer">
		select *
		from customer
		where email = #{email} and customer_type = 2
	</select>
	
	<insert id="insertC" parameterType="customer">
		insert into
		customer
		(
		customer_seq
		,pw
		, name
		, email
		, nick
		, customer_type
		)
		values
		(
		customer_seq.nextval
		,#{pw}
		,#{name}
		,#{email}
		,#{name}
		,#{customer_type}
		)
	</insert>

</mapper>