<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.kiito.dao.CustomerMapper">
	<resultMap type="customer" id="customerMap">
		 <id column="customer_seq" property = "customer_seq"/>
		 <result column="email" property="email"/>
		 <result column="pw" property="pw"/>
		 <result column="name" property="name"/>
		 <result column="profileImg" property="profileImg"/>
		 <result column="customer_type" property="customer_type"/>
		 
		 <collection property="follow" column="customer_seq" javaType="java.util.ArrayList" ofType="follow" select="getFollowList"/>
	</resultMap>
	
	<select id="getFollowList" resultType="follow">
		select follow_seq, customer_seq, following_seq
		from follow
		where customer_seq = #{customer_seq}
	</select>
	
	<select id="getFollowingList" parameterType="int" resultType="customer">
		select c.customer_seq, c.email, c.pw, c.name, c.profileImg, c.customer_type
		from customer c
		where c.customer_seq = (
		select following_seq 
		from customer , follow 
		where customer.customer_seq = follow.customer_seq and follow.customer_seq = #{customer_seq}
		)

	</select>
	
	<select id="getCustomer" parameterType = "int" resultType="customer" resultMap="customerMap">
		select *
		from customer
		where customer_seq = #{customer_seq}
	</select>
	
	<select id="getCustomerByMail" parameterType="String" resultType="customer" resultMap="customerMap">
		select *
		from customer
		where email = #{email} and customer_type = 0
	</select>
	
	
	
	<select id="getGoogleCustomer" parameterType = "String" resultType="customer" resultMap="customerMap">
		select *
		from customer
		where email = #{email} and customer_type = 1
	</select>
	
	<select id="getFacebookCustomer" parameterType = "String" resultType="customer" resultMap="customerMap">
		select *
		from customer
		where email = #{email} and customer_type = 2
	</select>
	
	<insert id="insertC" parameterType="customer">
		insert into
		customer
		(
		customer_seq
		,pw
		, name
		, email
		, nick
		, profileImg
		, customer_type
		)
		values
		(
		customer_seq.nextval
		,#{pw}
		,#{name}
		,#{email}
		,#{name}
		,#{profileImg}
		,#{customer_type}
		)
	</insert>
	
	<insert id="insertFollow" parameterType="follow">
		insert into follow
		(follow_seq, customer_seq, following_seq)
		values
		(follow_seq.nextval, #{customer_seq}, #{following_seq})
	</insert>
	
	<delete id="deleteFollow" parameterType="follow">
		delete from follow
		where customer_seq = #{customer_seq} and following_seq = #{following_seq}
	</delete>
	
	<select id="checkFollowing" parameterType="follow" resultType="follow">
		select *
		from follow
		where customer_seq = #{customer_seq} and following_seq = #{following_seq}
	</select>
	
<!-- 	프로필 사진 업데이트 -->
	<update id="updateP" parameterType="customer">

		update customer set

		 profileImg=#{profileImg}

		where customer_seq like #{customer_seq}

	</update>
	
	<!-- <프로필 나머지 업데이트 -->
	<update id="updateC" parameterType="customer">

		update customer set
		
		<if test="pw != null and pw != ''">		<!-- 빈칸을 해주기.!!!!!!!!!!!!!!! -->
			pw=#{pw},
		</if>
  			 nick=#{nick}
		where customer_seq like #{customer_seq}

	</update>
	
<!-- 	탈퇴 -->
<delete id="deru" parameterType="int">
delete from customer where customer_seq like #{customer_seq}
</delete>

</mapper>