<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.kiito.dao.LikesMapper">

<select id="getLikes" parameterType="map" resultType="likes">

	select * from likes where feed_seq = #{feed_seq} and customer_seq = #{customer_seq}


</select>

<insert id="insertL" parameterType="map">

insert into
		likes
		(
		likes_seq
		,feed_seq
		,customer_seq
		)
		values
		(
		likes_seq.nextval
		,#{feed_seq}
		,#{customer_seq}
		)

</insert>

<delete id="deleteL" parameterType="map">

delete from likes where feed_seq = #{feed_seq} and customer_seq = #{customer_seq}

</delete>


</mapper>