<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.kiito.dao.PfileMapper">

<insert id="insertp" parameterType="pfile">



		insert into
		pfile
		
		(

			pFile_seq
		,customer_seq

		<if test="originalFilename != null and originalFilename != null">		<!-- 빈칸을 해주기.!!!!!!!!!!!!!!! -->
			,originalFilename
			,savedFilename
		</if>

		)
		values

		(
		pFile_seq.nextval
		,#{customer_seq}
	
		<if test="originalFilename != null and originalFilename != null">		<!-- 빈칸을 해주기.!!!!!!!!!!!!!!! -->
			,#{originalFilename}
			,#{savedFilename}
		</if>


		)


	</insert>

</mapper>