<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="global.sesoc.kiito.vo.Customer"
			alias="customer" />
		<typeAlias type="global.sesoc.kiito.vo.Feed" alias="feed" />
		<typeAlias type="global.sesoc.kiito.vo.Hashtag" alias="hash" />
		<typeAlias type="global.sesoc.kiito.vo.Likes" alias="likes" />
		<typeAlias type="global.sesoc.kiito.vo.ImageFile" alias="imageFile"/>
		<typeAlias type="global.sesoc.kiito.vo.VideoFile" alias="videoFile"/>
		<typeAlias type="global.sesoc.kiito.vo.Comments" alias="comments" />
		<typeAlias type="global.sesoc.kiito.vo.Pfile" alias="pfile"/>
	</typeAliases>



	<mappers>
		<mapper resource="mapper/CustomerMapper.xml" />
		<mapper resource="mapper/FeedMapper.xml" />
		<mapper resource="mapper/HashtagMapper.xml" />
		<mapper resource="mapper/LikesMapper.xml" />
		<mapper resource="mapper/ImageFileMapper.xml" />
		<mapper resource="mapper/VideoFileMapper.xml" />
		<mapper resource="mapper/CommentsMapper.xml" />
		<mapper resource="mapper/PfileMapper.xml" />
	</mappers>
</configuration>