<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  
  <typeAliases>
		<typeAlias type="global.sesoc.kiito.vo.Customer" alias="customer" />
		<typeAlias type="global.sesoc.kiito.vo.Feed" alias="feed" />
		<typeAlias type="global.sesoc.kiito.vo.Hashtag" alias="hash" />
		
		
	</typeAliases>
  
  
  
  	<mappers>
		<mapper resource="mapper/CustomerMapper.xml" />
		<mapper resource="mapper/FeedMapper.xml" />
		<mapper resource="mapper/HashtagMapper.xml" />
	</mappers>
  </configuration>