@charset "UTF-8";

.agree-yn {
	text-align: center;
}

.agree-yes-no {
	box-shadow:inset 0px -1px 0px 0px #bd78eb;
	background:linear-gradient(to bottom, #e0baff 5%, #94a6ff 100%);
	background-color:#e0baff;
	border-radius:6px;
	border:1px solid #c370ff;
	display:inline-block;
	cursor:pointer;
	color:#f2f2f2;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8540bd;
}
.agree-yes-no:hover {
	background:linear-gradient(to bottom, #94a6ff 5%, #e0baff 100%);
	background-color:#94a6ff;
}
.agree-yes-no:active {
	position:relative;
	top:1px;
}